.background {
    background-image: url('/assets/mart_production.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loginWrapper {
    background-color: rgba(231, 229, 228, 0.75);
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 700px;
    min-height: 350px;
}
.headerRegistration {
    color: white;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    padding-inline: 15px;
}
.input-wrapper{
    display: flex;
    justify-content: center;
    width: 100%;
}

.input-registration {
    align-self: center;
    background-color: white;
    color: #555555;
    width: 70%;
    padding: 10px;
    margin-top: 4px;
    font-weight: 400;
    font-size: 20px;
    border: none;
}
.checkbox-wrapper{
    display: flex;
    flex-direction: row;
    width: 70%;
}
.checkbox-legend{
    font-size: 18px;
    font-weight: 300;
    color: #3B3838;
    padding-left: 1rem;
}
.submission{
    border: none;
    color: #ca6702;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    cursor: pointer;
    background-color: transparent;
}
.error{
    font-size: 18px;
    font-weight: 300;
    color: #be0404;
    padding-left: 1rem;
}