.header-Page {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 40px;
    background-color: #FF9966;
    min-height: 7vh;
}

.nav-menu-Button{
    background-image: url('/assets/menu.png');
    background-size: cover;
    background-color: #FF9966;
    border: none;
    margin-left: 10px;
    width: 35px;
    height: 35px;
    justify-content: center;
    cursor: pointer;
}
.nav-menu-content {
    list-style-type: none;
    padding-left: 10px;
    font-size: 1em;
}
.nav-menu-content ul li {
    margin-bottom: 10px;
}

.header-title{
    font-size: 21px;
    font-weight: 400;
    color: white;
}
.home-button {
    background-image: url('/assets/home-button.png');
    background-size: cover;
    background-color: #FF9966;
    border: none;
    margin-right: 15px;
    width: 35px;
    height: 35px;
    justify-content: center;
    cursor: pointer;
}
.soft-container{
    display: flex;
    background-color: #E8E8E8;
}
.body-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #FFFFFF;
    padding-inline: 5vw;
    padding-top: 3vh;
    min-height: 100vh;
    min-width: 80vw;
    margin: 3vh 3vw;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.title{
    font-size: 35px;
    font-weight: bold;
    color: #3B3838;
}
.subtitle{
    font-size: 20px;
    font-weight: 600;
    font-style: italic;
    color: #3B3838;
}
.text{
    font-weight: 400;
    text-align: justify;
    font-size: 18px;
    color: #3B3838;
    white-space: pre-line;
    line-height: 3vh;
}
.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vh;
    border: none;
    background :linear-gradient( to right, #E23E02, #FF7F50, #F89B29 );
}

.footerText {
    color: #FCFCFC;
    font-size: 14px;
    align-self: center;
    text-align: center;
}

.pagination {
    margin-top: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 2vh;
}
