.header-Page {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 40px;
    background-color: #FF9966;
    min-height: 7vh;
}

.nav-menu-Button{
    background-image: url('/assets/menu.png');
    background-size: cover;
    background-color: #FF9966;
    border: none;
    margin-left: 10px;
    width: 35px;
    height: 35px;
    justify-content: center;
    cursor: pointer;
}
.nav-menu-content {
    list-style-type: none;
    padding-left: 10px;
    font-size: 1em;
}
.nav-menu-content ul li {
    margin-bottom: 10px;
}

.content-title {
    color: #f58b05;
}

button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    color: #1b61be;
}

button.link-button {
    width: 12rem;
    height: auto;
}

button.link-button .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #f38804;
    border-radius: 1.625rem;
}

button.link-button .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}

button.link-button .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}

button.link-button .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
}

button.link-button .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 2.5rem;
    color: #282936;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
}

button:hover .circle {
    width: 100%;
}

button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
}

button:hover .button-text {
    color: #fff;
}

.header-title{
    font-size: 21px;
    font-weight: 400;
    color: white;
}
.home-button {
    background-image: url('/assets/home-button.png');
    background-size: cover;
    background-color: #FF9966;
    border: none;
    margin-right: 15px;
    width: 35px;
    height: 35px;
    justify-content: center;
    cursor: pointer;
}
.soft-container{
    display: flex;
    background-color: #E8E8E8;
}
.body-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #FFFFFF;
    padding-inline: 5vw;
    padding-top: 3vh;
    min-height: 100vh;
    min-width: 80vw;
    margin: 3vh 3vw;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

ul {
    list-style-type: none;
}

.title{
    font-size: 35px;
    font-weight: bold;
    color: #3B3838;
}
.subtitle{
    font-size: 20px;
    font-weight: 600;
    font-style: italic;
    color: #3B3838;
}
.text{
    font-weight: 400;
    text-align: justify;
    font-size: 18px;
    color: #3B3838;
    white-space: pre-line;
    line-height: 3vh;
}
.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vh;
    border: none;
    background :linear-gradient( to right, #E23E02, #FF7F50, #F89B29 );
}

.footerText {
    color: #FCFCFC;
    font-size: 14px;
    align-self: center;
    text-align: center;
}

.pagination {
    margin-top: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 2vh;
}
